.*
!.gitignore
!.dockerignore
!.git/
config/config.ini
.vscode/
env
**/__pycache__
**__pycache__
/**/*.png
tests
dialog_data
log
**/logs
# data
*.pyc
dist
voice_data
!.env.dev
!**/.env.dev
package
.env
__debug**

**/node_modules
webview/.next

**/.DS_Store
**/.idea

**/config.yaml

client/resource/**/*
client/images/**/*

nohup.outout

client/app/static/Chrome-bin/*

**/config.ini
**/*.out
**/*.tar.gz

**/chrome-data*
**/track-features
**/tracks
**/screenshots
**/package-*

client/app/temp_upload

**/src/main/resources/application.properties
**/src/main/resources/log4j2.xml
**/src/main/resources/logback.xml
target/
bin/
*/**/target

*/**/*.node