.*
!.gitignore
!.dockerignore
!.git/
config/config.ini
.vscode/
env
**/__pycache__
**__pycache__
/**/*.png
tests
dialog_data
log
**/logs
# data
*.pyc
dist
voice_data
!.env.dev
!**/.env.dev
package
.env
__debug**

**/node_modules
webview/.next

**/.DS_Store
**/.idea

**/config.yaml

client/resource/**/*
client/images/**/*

nohup.outout

client/app/static/**/*

**/config.ini
**/*.out
**/*.tar.gz

**/chrome-data*
**/track-features
**/tracks
**/screenshots