.*
!.gitignore
!.dockerignore
!.git/
config/config.ini
.vscode/
env
**/__pycache__
**__pycache__
/**/*.png
tests
dialog_data
log
**/logs
# data
*.pyc
dist
voice_data
!.env.dev
!**/.env.dev

.env
__debug**

**/node_modules
webview/.next

**/.DS_Store
**/.idea

**/config.yaml

client/resource/**/*

nohup.outout